{% extends "base.html" %}

{% block title %} REGISTRO {% endblock %}

{% block content %}
<div class="container p-5 bg-light text-center ">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body">

                    <form>

                        <div data-mdb-input-init class="form-outline mb-4">
                          <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example1cg">Your Name</label>
                        </div>
        
                        <div data-mdb-input-init class="form-outline mb-4">
                          <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example3cg">Your Email</label>
                        </div>
        
                        <div data-mdb-input-init class="form-outline mb-4">
                          <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example4cg">Password</label>
                        </div>
        
                        <div data-mdb-input-init class="form-outline mb-4">
                          <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                        </div>
        
                        <div class="form-check d-flex justify-content-center mb-5">
                          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                          <label class="form-check-label" for="form2Example3g">
                            I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                          </label>
                        </div>
        
                        <button type="button" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-primary btn-block mb-4">Register</button>
        
                        <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{{ url_for('auth.login') }}"
                            class="fw-bold text-body"><u>Login here</u></a></p>
        
                      </form>
                </div>
{% endblock %}