{% extends 'base.html' %}
{% block title %}Nueva contraseña{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;"></div>
    <h3 class="text-center text-primary mb-4">Establece una nueva contraseña</h3>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.confirmar.label(class="form-label") }}
            {{ form.confirmar(class="form-control") }}
        </div>

        {{ form.submit(class="btn btn-success") }}
    </form>
</div>
</div>
{% endblock %}
