{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2>Blog</h2>
  <div class="row">
    {% for post in posts %}
    <div class="col-md-6 mb-4">
      <div class="card">
        {% if post.image_filename %}
        <img src="{{ url_for('static', filename='uploads/' ~ post.image_filename) }}" class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content[:200] }}...</p>
          <small class="text-muted">Publicado por {{ post.author.name }} el {{ post.created_at.strftime('%d/%m/%Y') }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
